@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    background-color: #f2f2f2;
}

#project-container::-webkit-scrollbar {
    width: 0.5rem;
}

#project-container::-webkit-scrollbar-track {
    background: transparent;
}

#project-container::-webkit-scrollbar-thumb {
    background: grey;
    @apply rounded;
}

#marquee-container h2 {
    animation: move-rtl 20s linear infinite;
}

/*#marquee-container h2:hover {*/
/*    animation-play-state: paused;*/
/*}*/

@keyframes move-rtl {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

